# Raster fire scar assessment - working

In [ ]:
import geopandas as gpd
import os
import shutil
import glob
import pandas as pd
import numpy as np
import rasterio as rio
import rasterio.plot
import pyproj
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
#import earthpy as ep
#import earthpy.plot as ep
import seaborn as sns
import fiona
import rasterstats
from rasterstats import zonal_stats


# Prettier plotting with seaborn
sns.set(font_scale=1.5, style="white")

## PANDAS

In [1]:
%pylab inline
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import numpy as np
pylab.rcParams['figure.figsize'] = (30, 8.0)

Populating the interactive namespace from numpy and matplotlib

In [2]:
cd Z:\Scratch\Zonal_Stats_Pipeline\Firescars\outputs

Z:\Scratch\Zonal_Stats_Pipeline\Firescars\outputs

In [3]:
df = pd.read_csv(r"Z:\Scratch\Zonal_Stats_Pipeline\Firescars\outputs\Robs_HP\allTouchFalse\bullo river_fire_scar.csv")
df2 = pd.read_csv(r"D:\Rob\fire\outputs\Bullo_River_106071_bare_ground.csv", index_col=[0])

In [4]:
df.fillna(0, inplace=True)
df.tail()

,year,image,0.0,April,May,June,Oct,Nov,count,property,...,March,July,Aug,Dec,Sep,20.0,22.0,26.0,29.0,36.0
17,2017,FS2017_MTHS.tif,17123.0,645.0,3713.0,115.0,563.0,0.0,22268,bullo river,...,0.0,30.0,79.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2018,fs2018M.tif,10030.0,10004.0,1717.0,65.0,0.0,138.0,22268,bullo river,...,0.0,0.0,0.0,314.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2019,FS2019MTHS.tif,12812.0,2030.0,14.0,0.0,5379.0,482.0,22268,bullo river,...,749.0,14.0,0.0,623.0,165.0,0.0,0.0,0.0,0.0,0.0
20,2020,fs2020.tif,19967.0,0.0,0.0,0.0,0.0,0.0,22332,bullo river,...,0.0,0.0,0.0,0.0,0.0,69.0,1637.0,649.0,2.0,8.0
21,2020,fs2020_classified.tif,0.0,0.0,0.0,0.0,0.0,0.0,0,bullo river,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Property Fire scars

In [5]:
df = df.drop(columns='0.0')

In [6]:
#column_list =['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [7]:
# If months dont exist add them to the dataframe

column_list =['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

for col in column_list:
    if col not in df.columns:
        df[col] = 0.0

In [8]:
stringi_list = []
i = 1.0
while i < 256.0:
    print(i)
    stringi = str(i)
    stringi_list.append(stringi)
    for n in stringi_list:
        if n not in df.columns:
            df[n] = 0.0
    i+=1

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0
100.0
101.0
102.0
103.0
104.0
105.0
106.0
107.0
108.0
109.0
110.0
111.0
112.0
113.0
114.0
115.0
116.0
117.0
118.0
119.0
120.0
121.0
122.0
123.0
124.0
125.0
126.0
127.0
128.0
129.0
130.0
131.0
132.0
133.0
134.0
135.0
136.0
137.0
138.0
139.0
140.0
141.0
142.0
143.0
144.0
145.0
146.0
147.0
148.0
149.0
150.0
151.0
152.0
153.0
154.0
155.0
156.0
157.0
158.0
159.0
160.0
161.0
162.0
163.0
164.0
165.0
166.0
167.0
168.0
169.0
170.0
171.0
172.0
173.0
174.0
175.0
176.0
177.0
178.0
179.0
180.0
181.0
182.0
183.0
184.0
185.0
186.0
187.0
188.0
189.0
190.0
191.0
192.0
193.0
194.0
195.0
196.0
197.0
198.0
199.0
200.0
201.0
202.0
203.0
204.0
205.0
206.0
207.0
208.0
209.0
210.0
211.0
212.0
213.0
214.0
215.0
216.0
217.0
218.0
219.0
220.0
221.0
222.0
223.0
224.0
225.0
226.0
227.0
228.0
229.0
230.0
231.0
232.0
233.0
234.0
235.0
236.0
237.0
238.0
239.0
240.0
241.0
242.0
243.0
244.0
245.0
246.0
247.0
248.0
249.0
250.0
251.0
252.0
253.0
254.0
255.0

In [44]:
df

,year,image,April,May,June,Oct,Nov,count,property,uid_final,...,246.0,247.0,248.0,249.0,250.0,251.0,252.0,253.0,254.0,255.0
0,2000,FS2000_MTHS.tif,367.0,8982.0,1682.0,623.0,259.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2001,FS2001_MTHS.tif,1565.0,24.0,0.0,0.0,233.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2002,FS2002_MTHS.tif,10414.0,1474.0,0.0,28.0,0.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2003,FS2003_MTHS.tif,0.0,0.0,0.0,0.0,0.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2004,FS2004_MTHS.tif,756.0,2682.0,440.0,1116.0,489.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2005,FS2005_MTHS.tif,3625.0,48.0,0.0,0.0,0.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2006,FS2006_MTH.tif,0.0,678.0,2581.0,852.0,466.0,12661,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2007,FS2007_MTH.tif,186.0,728.0,0.0,3435.0,0.0,4349,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2008,FS2008_MTH.tif,8131.0,2352.0,20.0,12.0,3453.0,22315,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2009,FS2009_MTH.tif,596.0,153.0,52.0,0.0,2127.0,2928,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2010,FS2010_MTH.tif,5118.0,1468.0,380.0,0.0,0.0,6966,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2011,FS2011_MTH.tif,0.0,2268.0,0.0,0.0,172.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2012,FS2012_MTH.tif,73.0,6194.0,0.0,0.0,27.0,18012,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2013,FS2013_MTH.tif,221.0,0.0,0.0,713.0,598.0,22360,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2014,FS2014_MTH.tif,782.0,0.0,10.0,0.0,2975.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2015,FS2015_MTH.tif,1206.0,218.0,0.0,5966.0,4005.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2016,FS2016_MTH.tif,2878.0,0.0,0.0,0.0,4289.0,22315,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2017,FS2017_MTHS.tif,645.0,3713.0,115.0,563.0,0.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2018,fs2018M.tif,10004.0,1717.0,65.0,0.0,138.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2019,FS2019MTHS.tif,2030.0,14.0,0.0,5379.0,482.0,22268,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2020,fs2020.tif,0.0,0.0,0.0,0.0,0.0,22332,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2020,fs2020_classified.tif,0.0,0.0,0.0,0.0,0.0,0,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df['jan']=df['Jan']+df['1.0']+df['2.0']+df['3.0']+df['4.0']+df['5.0']+df['6.0']+df['7.0']+df['8.0']

In [10]:
df['feb']=df['Feb']+df['9.0']+df['10.0']+df['11.0']+df['12.0']+df['13.0']+df['14.0']+df['15.0']+df['16.0']

In [11]:
df['march']=df['March']+df['17.0']+df['18.0']+df['19.0']+df['20.0']+df['21.0']+df['22.0']+df['23.0']+df['24.0']+df['25.0']+df['26.0']

In [12]:
df['april']=df['April']+df['27.0']+df['28.0']+df['29.0']+df['30.0']+df['31.0']+df['32.0']+df['33.0']+df['34.0']+df['35.0']+df['36.0']

In [13]:
df['may']=df['May']+df['37.0']+df['38.0']+df['39.0']+df['40.0']+df['41.0']+df['42.0']+df['43.0']+df['44.0']+df['45.0']+df['46.0']+df['47.0']+df['48.0']+df['49.0']+df['50.0']+df['51.0']+df['52.0']+df['53.0']+df['54.0']+df['55.0']

In [25]:
df['june']=df['June']+df['56.0']+df['57.0']+df['58.0']+df['59.0']+df['60.0']+df['61.0']+df['62.0']+df['63.0']+df['64.0']+df['65.0']+df['66.0']+df['57.0']+df['58.0']+df['59.0']+df['60.0']+df['61.0']+df['62.0']+df['63.0']+df['64.0']+df['65.0']+df['66.0']+df['67.0']+df['68.0']+df['69.0']+df['70.0']+df['71.0']+df['72.0']+df['73.0']+df['74.0']+df['75.0']+df['76.0']+df['77.0']+df['78.0']+df['79.0']+df['80.0']+df['81.0']+df['82.0']+df['83.0']+df['84.0']

In [16]:
df['july']=df['July']+df['85.0']+df['86.0']+df['87.0']+df['88.0']+df['89.0']+df['90.0']+df['91.0']+df['92.0']+df['93.0']+df['94.0']+df['95.0']+df['96.0']+df['97.0']+df['98.0']+df['99.0']+df['100.0']+df['101.0']+df['102.0']+df['103.0']+df['104.0']+df['105.0']+df['106.0']+df['107.0']+df['108.0']+df['109.0']+df['110.0']+df['111.0']+df['112.0']+df['113.0']+df['114.0']+df['115.0']+df['116.0']

In [23]:
df['aug']=df['Aug']+df['117.0']+df['118.0']+df['119.0']+df['120.0']+df['121.0']+df['122.0']+df['123.0']+df['124.0']+df['125.0']+df['126.0']+df['127.0']+df['128.0']+df['129.0']+df['130.0']+df['131.0']+df['132.0']+df['133.0']+df['134.0']+df['135.0']+df['136.0']+df['137.0']+df['138.0']+df['139.0']+df['140.0']+df['141.0']+df['142.0']+df['143.0']+df['144.0']+df['145.0']

In [18]:
df['sep']=df['Sep']+df['147.0']+df['148.0']+df['149.0']+df['150.0']+df['151.0']+df['152.0']+df['153.0']+df['154.0']+df['155.0']+df['156.0']+df['157.0']+df['158.0']+df['159.0']+df['160.0']+df['161.0']+df['162.0']+df['163.0']+df['164.0']+df['165.0']+df['166.0']+df['167.0']+df['168.0']+df['169.0']+df['170.0']+df['171.0']+df['172.0']+df['173.0']+df['174.0']+df['175.0']

In [19]:
df['oct']=df['Oct']+df['176.0']+df['177.0']+df['178.0']+df['179.0']+df['180.0']+df['181.0']+df['182.0']+df['183.0']+df['184.0']+df['185.0']+df['186.0']+df['187.0']+df['188.0']+df['189.0']+df['190.0']+df['191.0']+df['192.0']+df['193.0']+df['194.0']+df['195.0']+df['196.0']+df['197.0']+df['198.0']+df['199.0']+df['200.0']+df['201.0']+df['202.0']+df['203.0']+df['204.0']+df['205.0']

In [20]:
df['nov']=df['Nov']+df['206.0']+df['207.0']+df['208.0']+df['209.0']+df['200.0']+df['201.0']+df['202.0']+df['203.0']+df['204.0']+df['205.0']+df['206.0']+df['207.0']+df['208.0']+df['209.0']+df['210.0']+df['211.0']+df['212.0']+df['213.0']+df['214.0']+df['215.0']+df['216.0']+df['217.0']+df['218.0']+df['219.0']+df['220.0']+df['221.0']+df['222.0']+df['223.0']+df['224.0']+df['225.0']+df['226.0']+df['227.0']+df['228.0']+df['229.0']+df['230.0']+df['231.0']

In [21]:
df['dec']=df['Dec']+df['232.0']+df['233.0']+df['234.0']+df['235.0']+df['236.0']+df['237.0']+df['238.0']+df['239.0']+df['240.0']+df['241.0']+df['242.0']+df['243.0']+df['244.0']+df['245.0']+df['246.0']+df['247.0']+df['248.0']+df['249.0']+df['250.0']+df['251.0']+df['252.0']+df['253.0']+df['254.0']+df['255.0']

In [31]:
df.tail()

,year,image,April,May,June,Oct,Nov,count,property,uid_final,...,march,april,may,july,sep,oct,nov,dec,aug,june
17,2017,FS2017_MTHS.tif,645.0,3713.0,115.0,563.0,0.0,22268,bullo river,1,...,0.0,645.0,3713.0,30.0,0.0,563.0,0.0,0.0,79.0,115.0
18,2018,fs2018M.tif,10004.0,1717.0,65.0,0.0,138.0,22268,bullo river,1,...,0.0,10004.0,1717.0,0.0,0.0,0.0,138.0,314.0,0.0,65.0
19,2019,FS2019MTHS.tif,2030.0,14.0,0.0,5379.0,482.0,22268,bullo river,1,...,749.0,2030.0,14.0,14.0,165.0,5379.0,482.0,623.0,0.0,0.0
20,2020,fs2020.tif,0.0,0.0,0.0,0.0,0.0,22332,bullo river,1,...,2355.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2020,fs2020_classified.tif,0.0,0.0,0.0,0.0,0.0,0,bullo river,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
clean_fire = df[['year', 'image', 'property','jan', 'feb', 'march', 'april', 'may', 'june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec']]

In [30]:
clean_fire

,year,image,property,jan,feb,march,april,may,june,july,aug,sep,oct,nov,dec
0,2000,FS2000_MTHS.tif,bullo river,0.0,0.0,0.0,367.0,8982.0,1682.0,0.0,0.0,0.0,623.0,259.0,0.0
1,2001,FS2001_MTHS.tif,bullo river,0.0,0.0,0.0,1565.0,24.0,0.0,0.0,0.0,0.0,0.0,233.0,0.0
2,2002,FS2002_MTHS.tif,bullo river,0.0,0.0,15.0,10414.0,1474.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0
3,2003,FS2003_MTHS.tif,bullo river,0.0,0.0,1853.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2004,FS2004_MTHS.tif,bullo river,0.0,0.0,0.0,756.0,2682.0,440.0,1248.0,3688.0,0.0,1116.0,489.0,320.0
5,2005,FS2005_MTHS.tif,bullo river,0.0,0.0,0.0,3625.0,48.0,0.0,4.0,0.0,0.0,0.0,0.0,3694.0
6,2006,FS2006_MTH.tif,bullo river,0.0,0.0,0.0,0.0,678.0,2581.0,2855.0,1355.0,3874.0,852.0,466.0,0.0
7,2007,FS2007_MTH.tif,bullo river,0.0,0.0,0.0,186.0,728.0,0.0,0.0,0.0,0.0,3435.0,0.0,0.0
8,2008,FS2008_MTH.tif,bullo river,0.0,0.0,0.0,8131.0,2352.0,20.0,0.0,0.0,0.0,12.0,3453.0,0.0
9,2009,FS2009_MTH.tif,bullo river,0.0,0.0,0.0,596.0,153.0,52.0,0.0,0.0,0.0,0.0,2127.0,0.0
10,2010,FS2010_MTH.tif,bullo river,0.0,0.0,0.0,5118.0,1468.0,380.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2011,FS2011_MTH.tif,bullo river,0.0,0.0,0.0,0.0,2268.0,0.0,0.0,0.0,0.0,0.0,172.0,0.0
12,2012,FS2012_MTH.tif,bullo river,0.0,0.0,0.0,73.0,6194.0,0.0,0.0,11718.0,0.0,0.0,27.0,0.0
13,2013,FS2013_MTH.tif,bullo river,0.0,0.0,0.0,221.0,0.0,0.0,0.0,0.0,0.0,713.0,598.0,0.0
14,2014,FS2014_MTH.tif,bullo river,0.0,0.0,0.0,782.0,0.0,10.0,196.0,164.0,83.0,0.0,2975.0,0.0
15,2015,FS2015_MTH.tif,bullo river,0.0,0.0,0.0,1206.0,218.0,0.0,0.0,0.0,1589.0,5966.0,4005.0,0.0
16,2016,FS2016_MTH.tif,bullo river,0.0,0.0,0.0,2878.0,0.0,0.0,222.0,3.0,0.0,0.0,4289.0,413.0
17,2017,FS2017_MTHS.tif,bullo river,0.0,0.0,0.0,645.0,3713.0,115.0,30.0,79.0,0.0,563.0,0.0,0.0
18,2018,fs2018M.tif,bullo river,0.0,0.0,0.0,10004.0,1717.0,65.0,0.0,0.0,0.0,0.0,138.0,314.0
19,2019,FS2019MTHS.tif,bullo river,0.0,0.0,749.0,2030.0,14.0,0.0,14.0,0.0,165.0,5379.0,482.0,623.0
20,2020,fs2020.tif,bullo river,0.0,0.0,2355.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2020,fs2020_classified.tif,bullo river,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
clean_fire.drop(21, inplace=True)

C:\ProgramData\Anaconda3\envs\earth-analytics\lib\site-packages\pandas\core\frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
clean_fire

,year,image,property,jan,feb,march,april,may,june,july,aug,sep,oct,nov,dec
0,2000,FS2000_MTHS.tif,bullo river,0.0,0.0,0.0,367.0,8982.0,1682.0,0.0,0.0,0.0,623.0,259.0,0.0
1,2001,FS2001_MTHS.tif,bullo river,0.0,0.0,0.0,1565.0,24.0,0.0,0.0,0.0,0.0,0.0,233.0,0.0
2,2002,FS2002_MTHS.tif,bullo river,0.0,0.0,15.0,10414.0,1474.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0
3,2003,FS2003_MTHS.tif,bullo river,0.0,0.0,1853.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2004,FS2004_MTHS.tif,bullo river,0.0,0.0,0.0,756.0,2682.0,440.0,1248.0,3688.0,0.0,1116.0,489.0,320.0
5,2005,FS2005_MTHS.tif,bullo river,0.0,0.0,0.0,3625.0,48.0,0.0,4.0,0.0,0.0,0.0,0.0,3694.0
6,2006,FS2006_MTH.tif,bullo river,0.0,0.0,0.0,0.0,678.0,2581.0,2855.0,1355.0,3874.0,852.0,466.0,0.0
7,2007,FS2007_MTH.tif,bullo river,0.0,0.0,0.0,186.0,728.0,0.0,0.0,0.0,0.0,3435.0,0.0,0.0
8,2008,FS2008_MTH.tif,bullo river,0.0,0.0,0.0,8131.0,2352.0,20.0,0.0,0.0,0.0,12.0,3453.0,0.0
9,2009,FS2009_MTH.tif,bullo river,0.0,0.0,0.0,596.0,153.0,52.0,0.0,0.0,0.0,0.0,2127.0,0.0
10,2010,FS2010_MTH.tif,bullo river,0.0,0.0,0.0,5118.0,1468.0,380.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2011,FS2011_MTH.tif,bullo river,0.0,0.0,0.0,0.0,2268.0,0.0,0.0,0.0,0.0,0.0,172.0,0.0
12,2012,FS2012_MTH.tif,bullo river,0.0,0.0,0.0,73.0,6194.0,0.0,0.0,11718.0,0.0,0.0,27.0,0.0
13,2013,FS2013_MTH.tif,bullo river,0.0,0.0,0.0,221.0,0.0,0.0,0.0,0.0,0.0,713.0,598.0,0.0
14,2014,FS2014_MTH.tif,bullo river,0.0,0.0,0.0,782.0,0.0,10.0,196.0,164.0,83.0,0.0,2975.0,0.0
15,2015,FS2015_MTH.tif,bullo river,0.0,0.0,0.0,1206.0,218.0,0.0,0.0,0.0,1589.0,5966.0,4005.0,0.0
16,2016,FS2016_MTH.tif,bullo river,0.0,0.0,0.0,2878.0,0.0,0.0,222.0,3.0,0.0,0.0,4289.0,413.0
17,2017,FS2017_MTHS.tif,bullo river,0.0,0.0,0.0,645.0,3713.0,115.0,30.0,79.0,0.0,563.0,0.0,0.0
18,2018,fs2018M.tif,bullo river,0.0,0.0,0.0,10004.0,1717.0,65.0,0.0,0.0,0.0,0.0,138.0,314.0
19,2019,FS2019MTHS.tif,bullo river,0.0,0.0,749.0,2030.0,14.0,0.0,14.0,0.0,165.0,5379.0,482.0,623.0
20,2020,fs2020.tif,bullo river,0.0,0.0,2355.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df['Spring']=df['20.0']+df['22.0']+df['26.0']
"""reshape_df['Summer']=reshape_df['Dec']+reshape_df['Jan']+reshape_df['Feb']
reshape_df['Autumn']=reshape_df['Mar']+reshape_df['April']+reshape_df['May']
reshape_df['Winter']=reshape_df['June']+reshape_df['July']+reshape_df['Aug']

# reshape the final dataframe
seasons_df = reshape_df[['Spring', 'Summer', 'Autumn', 'Winter']]
#seasons_df"""

"reshape_df['Summer']=reshape_df['Dec']+reshape_df['Jan']+reshape_df['Feb']\nreshape_df['Autumn']=reshape_df['Mar']+reshape_df['April']+reshape_df['May']\nreshape_df['Winter']=reshape_df['June']+reshape_df['July']+reshape_df['Aug']\n\n# reshape the final dataframe\nseasons_df = reshape_df[['Spring', 'Summer', 'Autumn', 'Winter']]\n#seasons_df"

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 25 columns):
year         22 non-null int64
image        22 non-null object
April        22 non-null float64
May          22 non-null float64
June         22 non-null float64
Oct          22 non-null float64
Nov          22 non-null float64
count        22 non-null int64
property     22 non-null object
uid_final    22 non-null int64
Laiskey      22 non-null object
band         22 non-null int64
March        22 non-null float64
July         22 non-null float64
Aug          22 non-null float64
Dec          22 non-null float64
Sep          22 non-null float64
20.0         22 non-null float64
22.0         22 non-null float64
26.0         22 non-null float64
29.0         22 non-null float64
36.0         22 non-null float64
Jan          22 non-null float64
Feb          22 non-null float64
Spring       22 non-null float64
dtypes: float64(18), int64(4), object(3)
memory usage: 4.4+ KB

In [10]:
column_heading = list(df)
column_heading

['year',
 'image',
 'April',
 'May',
 'June',
 'Oct',
 'Nov',
 'count',
 'property',
 'uid_final',
 'Laiskey',
 'band',
 'March',
 'July',
 'Aug',
 'Dec',
 'Sep',
 '20.0',
 '22.0',
 '26.0',
 '29.0',
 '36.0',
 'Jan',
 'Feb']

In [11]:
df_drop = df.drop(['property', 'Laiskey', 'uid_final','year', 'band','image', 'count',
                   'Jan', 'Feb', 'March','April','May','June', 'July', 'Aug', 
                   'Sep', 'Oct', 'Nov', 'Dec'], axis = 1)
df_drop_list = list(df_drop)
df_drop_list

['20.0', '22.0', '26.0', '29.0', '36.0']

In [13]:
jan_list = []
feb_list = []
march_list = []
april_list = []
may_list = []
june_list = []
july_list = []
aug_list = []
sep_list = []
oct_list = []
nov_list = []
dec_list = []
no_data_list = []

for i in df_drop_list:
    #print(i)
    i_float= float(i)
    #print(i_float)
    if i_float >=1 and i_float <=8:
        i_string = str(i_float)
        jan_list.append(i_string)
        
    elif i_float >=8 and i_float <=16:
        i_string = str(i_float)
        feb_list.append(i_string)
        
    elif i_float >=17 and i_float <=26:
        i_string = str(i_float)
        march_list.append(i_string)
        
    elif i_float >=27 and i_float <=36:
        i_string = str(i_float)
        april_list.append(i_string)
        
    elif i_float >=37 and i_float <=55:
        i_string = str(i_float)
        may_list.append(i_string)
        
    elif i_float >=56 and i_float <=84:
        i_string = str(i_float)
        june_list.append(i_string)
        
    elif i_float >=85 and i_float <=115:
        i_string = str(i_float)
        july_list.append(i_string)
        
    elif i_float >=116 and i_float <=145:
        i_string = str(i_float)
        aug_list.append(i_string)
        
    elif i_float >=146 and i_float <=175:
        i_string = str(i_float)
        sep_list.append(i_string)
        
    elif i_float >=176 and i_float <=205:
        i_string = str(i_float)
        oct_list.append(i_string)
        
    elif i_float >=206 and i_float <=231:
        i_string = str(i_float)
        nov_list.append(i_string)
        
    elif i_float >=232 and i_float <=255:
        i_string = str(i_float)
        dec_list.append(i_string)
        
    else:
        i_string = str(i_float)
        no_data_list.append(i_string)
        
print(jan_list)
print(feb_list)
print(march_list)
print(april_list)
print(may_list)
print(june_list)
print(july_list)
print(aug_list)
print(sep_list)
print(oct_list)
print(nov_list)
print(dec_list)
        
"""result = pd.DataFrame()

#month_list =['jan', 'feb', 'march', 'april','may', 'june', 'july', 'aug', 'sep', 'octo', 'nov', 'dec']

df1 = df[jan_list]
jan = df1.sum(axis = 1, skipna = True)
print(jan)

df2 = df[feb_list]
feb = df2.sum(axis = 1, skipna = True)
print(feb)

df3 = df[march_list]
print(df3)
march = df3.sum(axis = 1, skipna = True)
#print(march)"""

"""df = df[april_list]
april = df.sum(axis = 1, skipna = True)"""

"""df = df[may_list]
may = df.sum(axis = 1, skipna = True)

df = df[june_list]
june = df2.sum(axis = 1, skipna = True)

df = df[july_list]
july = df.sum(axis = 1, skipna = True)

df = df[aug_list]
aug = df.sum(axis = 1, skipna = True)

df = df[sep_list]
sep = df.sum(axis = 1, skipna = True)

df = df[oct_list]
octo = df.sum(axis = 1, skipna = True)

df = df[nov_list]
nov = df.sum(axis = 1, skipna = True)

df = df[dec_list]
dec = df.sum(axis = 1, skipna = True)"""


    
#result = pd.concat([jan, feb, march, april, may, june, july, aug, sep, octo, nov, dec], axis=1, sort=False)

[]
[]
[20.0, 22.0, 26.0]
[29.0, 36.0]
[]
[]
[]
[]
[]
[]
[]
[]
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
dtype: float64
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
dtype: float64

KeyError: "None of [Float64Index([20.0, 22.0, 26.0], dtype='float64')] are in the [columns]"

In [ ]:
jan_list = []
feb_list = []
march_list = []
april_list = []
may_list = []
june_list = []
july_list = []
aug_list = []
sep_list = []
oct_list = []
nov_list = []
dec_list = []
no_data_list = []

for i in df_drop_list:
    #print(i)
    i_float= float(i)
    #print(i_float)
    if i_float >=1 and i_float <=8:
        i_string = str(i_float)
        jan_list.append(i_string)
        
    elif i_float >=8 and i_float <=16:
        i_string = str(i_float)
        feb_list.append(i_string)
        
    elif i_float >=17 and i_float <=26:
        i_string = str(i_float)
        march_list.append(i_string)
        
    elif i_float >=27 and i_float <=36:
        i_string = str(i_float)
        april_list.append(i_string)
        
    elif i_float >=37 and i_float <=55:
        i_string = str(i_float)
        may_list.append(i_string)
        
    elif i_float >=56 and i_float <=84:
        i_string = str(i_float)
        june_list.append(i_string)
        
    elif i_float >=85 and i_float <=115:
        i_string = str(i_float)
        july_list.append(i_string)
        
    elif i_float >=116 and i_float <=145:
        i_string = str(i_float)
        aug_list.append(i_string)
        
    elif i_float >=146 and i_float <=175:
        i_string = str(i_float)
        sep_list.append(i_string)
        
    elif i_float >=176 and i_float <=205:
        i_string = str(i_float)
        oct_list.append(i_string)
        
    elif i_float >=206 and i_float <=231:
        i_string = str(i_float)
        nov_list.append(i_string)
        
    elif i_float >=232 and i_float <=255:
        i_string = str(i_float)
        dec_list.append(i_string)
        
    else:
        i_string = str(i_float)
        no_data_list.append(i_string)
        
print(jan_list)
print(feb_list)
print(march_list)
print(april_list)
print(may_list)
print(june_list)
print(july_list)
print(aug_list)
print(sep_list)
print(oct_list)
print(nov_list)
print(dec_list)
        
"""result = pd.DataFrame()

#month_list =['jan', 'feb', 'march', 'april','may', 'june', 'july', 'aug', 'sep', 'octo', 'nov', 'dec']

df1 = df[jan_list]
jan = df1.sum(axis = 1, skipna = True)
print(jan)

df2 = df[feb_list]
feb = df2.sum(axis = 1, skipna = True)
print(feb)

df3 = df[march_list]
print(df3)
march = df3.sum(axis = 1, skipna = True)
#print(march)"""

"""df = df[april_list]
april = df.sum(axis = 1, skipna = True)"""

"""df = df[may_list]
may = df.sum(axis = 1, skipna = True)

df = df[june_list]
june = df2.sum(axis = 1, skipna = True)

df = df[july_list]
july = df.sum(axis = 1, skipna = True)

df = df[aug_list]
aug = df.sum(axis = 1, skipna = True)

df = df[sep_list]
sep = df.sum(axis = 1, skipna = True)

df = df[oct_list]
octo = df.sum(axis = 1, skipna = True)

df = df[nov_list]
nov = df.sum(axis = 1, skipna = True)

df = df[dec_list]
dec = df.sum(axis = 1, skipna = True)"""


    
#result = pd.concat([jan, feb, march, april, may, june, july, aug, sep, octo, nov, dec], axis=1, sort=False)

In [ ]:
# reshape the final dataframe
reshape_df = df[jan_list]
reshape_df

In [ ]:
df = reshape_df.sum(axis = 1, skipna = True)

In [ ]:
df

In [ ]:
list_of_string = []
for item in jan_list:
    list_of_string.append(float(item))

In [ ]:
res = " ".join([str(i) for i in jan_list])

In [ ]:
res

In [ ]:
    """if i_int >= 1 | i_int <=8:
        print("Jan")"""
    
    """NAFI_reclass[np.where((NAFI_array>=1) & (NAFI_array<=8))] = 1 #  Class Jan
    NAFI_reclass[np.where((NAFI_array>=8) & (NAFI_array<=16))] = 2 #  Class Feb
    NAFI_reclass[np.where((NAFI_array>=17) & (NAFI_array<=26))] = 3 # March
    NAFI_reclass[np.where((NAFI_array>=27) & (NAFI_array<=36))] = 4 #  April
    NAFI_reclass[np.where((NAFI_array>=37) & (NAFI_array<=55))] = 5 #  Class May
    NAFI_reclass[np.where((NAFI_array>=56) & (NAFI_array<=84))] = 6 #  Class June
    NAFI_reclass[np.where((NAFI_array>=85) & (NAFI_array<=115))] = 7 #  Class July
    NAFI_reclass[np.where((NAFI_array>=116) & (NAFI_array<=145))] = 8 #  Class August
    NAFI_reclass[np.where((NAFI_array>=146) & (NAFI_array<=175))] = 9 #  Class September
    NAFI_reclass[np.where((NAFI_array>=176) & (NAFI_array<=205))] = 10 #  Class October
    NAFI_reclass[np.where((NAFI_array>=206) & (NAFI_array<=231))] = 11 #  Class November
    NAFI_reclass[np.where((NAFI_array>=232) & (NAFI_array<=255))] = 12 #  Class December
    #NAFI_reclass[np.where(NAFI_array>=176)] = 255 #  Class No data
    NAFI_reclass[np.where((NAFI_array>206) & (NAFI_array<=231))] = 11 #  Class November
    NAFI_reclass[np.where((NAFI_array>232) & (NAFI_array<=254))] = 12 #  Class December"""
    #NAFI_reclass[np.where(NAFI_array== 0)] = 10 # Class No data"""

In [ ]:
#Calculate the area for each month and add a column for each

count =[]
m2 = []
ha =[]
for col in column_list:
    month_area = str(col)+'_area_ha'
    col_ =  str(col)
    df[month_area] = (df[col_]*(250*250)/10000)

In [ ]:
df

In [ ]:
df['annual_count'] = df[column_list].sum(axis=1)
df['annual_area_ha'] = (df['annual_count']*(250*250)/10000)

In [ ]:
df.info()

In [ ]:
df.sample(5)

In [ ]:
# reshape the final dataframe
reshape_df = df[['property', 'year', 'image', 'Jan_area_ha', 'Feb_area_ha', 'March_area_ha', 'April_area_ha', 'May_area_ha', 'June_area_ha', 
                 'July_area_ha', 'Aug_area_ha', 'Sep_area_ha', 'Oct_area_ha', 'Nov_area_ha', 'Dec_area_ha', 'annual_area_ha']]
reshape_df

In [ ]:
# reshape the final dataframe
reshape_df = df[['year', 'Jan_area_ha', 'Feb_area_ha', 'March_area_ha', 'April_area_ha', 'May_area_ha', 'June_area_ha', 
                 'July_area_ha', 'Aug_area_ha', 'Sep_area_ha', 'Oct_area_ha', 'Nov_area_ha', 'Dec_area_ha']]
reshape_df.columns =['Year', 'Jan', 'Feb', 'Mar', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
reshape_df

In [ ]:
#reshape_df.loc[reshape_df['Year'] == 2012]

In [ ]:
"""reshape_df.drop(reshape_df.index[12]).inplace=True
reshape_df.Year.value_counts()"""

In [ ]:
"""df =reshape_df.melt(id_vars=['Year'], var_name = 'Month', value_name= 'm2').sort_values(by='Year')
df.Year.value_counts()"""

In [ ]:
reshape_df = reshape_df.set_index('Year')

In [ ]:
#df.plot(kind='barh', stacked=True)
reshape_df.plot(kind='bar', stacked=True)
plt.legend(loc='best')
plt.title("Property scale fire scars", fontsize=25)
plt.xlabel("Year", fontsize=20)
plt.xticks(rotation=45)
plt.ylabel("Burnt area (ha)", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

#plt.grid(True)
plt.show()

Seasons
In Australia, the seasons are defined by grouping the calendar months in the following way:

Spring - the three transition months September, October and November.
Summer - the three hottest months December, January and February.
Autumn - the transition months March, April and May.
Winter - the three coldest months June, July and August.

In [ ]:
#reshape_df

In [ ]:
reshape_df['Spring']=reshape_df['Sep']+reshape_df['Oct']+reshape_df['Nov']
reshape_df['Summer']=reshape_df['Dec']+reshape_df['Jan']+reshape_df['Feb']
reshape_df['Autumn']=reshape_df['Mar']+reshape_df['April']+reshape_df['May']
reshape_df['Winter']=reshape_df['June']+reshape_df['July']+reshape_df['Aug']

# reshape the final dataframe
seasons_df = reshape_df[['Spring', 'Summer', 'Autumn', 'Winter']]
#seasons_df

In [ ]:
#df.plot(kind='barh', stacked=True)
seasons_df.plot(kind='bar', stacked=True)
plt.legend(loc='best')
plt.title("Seasonal property scale fire scars", fontsize=25)
plt.xlabel("Year", fontsize=20)
plt.xticks(rotation=45)
plt.ylabel("Burnt area (ha)", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

#plt.grid(True)
plt.show()

In [ ]:
df.head()

### Property Bare Ground

In [ ]:
#df2.rename(columns={'site':'property'}, inplace=True)

In [ ]:
#df2['property'].unique()

In [ ]:
df2['site'].unique()

In [ ]:
# create the date time field and sort the values
df2 = df2[(df2['count'] > 3)]
df2['year'] = df2['imDate'].map(lambda x: str(x)[:4])
df2['month'] = df2['imDate'].map(lambda x: str(x)[4:6])
df2['day'] = df2['imDate'].map(lambda x: str(x)[6:8])
df2['Date'] = df2['year']  + '/' + df2['month'] + '/' + df2['day']
df2.sort_values(['Date'])

In [ ]:
df2 = df2[(df2['year']>="2000") & (df2['year']<="2020")]
df2.tail()

In [ ]:
last_observations = df2.groupby(['year', 'month']).tail(1)
last_observations["total_area_ha"] = (last_observations["count"]*(30*30)/1000)

In [ ]:
df_test = last_observations[['year', 'month', 'count']]
df_test.groupby(['year', 'month']).sum()

In [ ]:
df_test.site.unique()

In [ ]:
for i in df.test.site:
    i.plot()

In [ ]:
df3 = df_test.pivot(index=['year'], columns='month')
df3.head()

In [ ]:
#df.plot(kind='barh', stacked=True)
df3.plot(kind='bar', stacked=True)
plt.legend(loc='best')
plt.title("Seasonal property scale fire scars", fontsize=25)
plt.xlabel("Year", fontsize=20)
plt.xticks(rotation=45)
plt.ylabel("Burnt area (ha)", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

#plt.grid(True)
plt.show()

In [ ]:
"""df2['year'] = df2['year'].astype(int)
df2['month'] = df2['month'].astype(int)
df2['day'] = df2['day'].astype(int)"""

In [ ]:
df2.info()

In [ ]:
# Select the last day of each month

df_monthly = df2.reset_index().groupby([df2.year,df2.month],as_index=False).last().set_index('index')
df_monthly["total_area_ha"] = (df_monthly["count"]*(30*30)/10000)
df_monthly

In [ ]:
df_new =df_monthly.groupby(['year', 'month']).total_area_ha.sum().unstack('month', fill_value=0)

In [ ]:
#df.plot(kind='barh', stacked=True)
df_new.plot(kind='bar', stacked=True)
plt.legend(loc='best')
plt.title("Seasonal property scale fire scars", fontsize=25)
plt.xlabel("Year", fontsize=20)
plt.xticks(rotation=45)
plt.ylabel("Burnt area (ha)", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

#plt.grid(True)
plt.show()

In [ ]:
column_list =['Month','Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

df_monthly.columns=column_list

In [ ]:
pd.merge(reshape_df, df2, on=['year', 'month'])

## Property

In [ ]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
properties = pd.read_excel(r"\\pgb-bas01\DENR_Satellite_Imagery$\Scratch\Zonal_Stats_Pipeline\Copy of landsatZonalStatsTiles2.xlsx")
prop_list = properties.Property.unique().tolist()

In [ ]:
prop_list = properties.Property.unique().tolist()
prop_list

In [ ]:
cadastre = gpd.read_file(r'U:\LIB_Common\Cadastre\Datasets\Av_data\Cadastre.shp')
cadastre.head()
cadastre.crs

In [ ]:
cadastre.to_crs ('epsg:32752')

In [ ]:
#crs = {'init': 'epsg:4283'}

In [ ]:
#cadastre_GDA94 = gpd.GeoDataFrame(cadastre, crs=crs)

In [ ]:
#cadastre_GDA94.crs

In [ ]:
fig, ax = plt.subplots(figsize=(12,10))
base = nyc_gdf.boundary.plot(markersize=0.1,ax=ax)
#fire = 
#ax.set_xticklabels([])
#ax.set_yticklabels([])
ax.set_title('Cadastre properties')
plt.show()

In [ ]:
cadastre.info()

In [ ]:
pastoral = cadastre[(cadastre.TENREF_DES=='Pastoral Lease')|(cadastre.TENREF_DES=='Perpetual Pastoral Lease')]

In [ ]:
property_list = pastoral.LAISKEY.unique()
print(property_list)

In [ ]:
'000     1400'

In [ ]:
pastoral_list = ["MARY RIVER WEST", "CAMFIELD", "WONGALARA", "TODD RIVER", "KILLARNEY", "JINDARE", ]

In [ ]:
property_list = cadastre.PROP_NAME.unique()
print(property_list)

In [ ]:
properties = pd.read_excel(r"\\pgb-bas01\DENR_Satellite_Imagery$\Scratch\Zonal_Stats_Pipeline\Copy of landsatZonalStatsTiles2.xlsx")
properties["Property"] = properties["Property"].str.upper()
prop_list = properties.Property.unique().tolist()
prop_list

In [ ]:
# create individual property shapefiles from a list
for i in prop_list:
    #To select rows whose column value equals a scalar, some_value, use ==:
    prop = cadastre1[cadastre1["PROP_NAME"]== i]
    prop.reset_index(drop=True, inplace=True)
    prop['uid']= prop.index + 1
    print (i)
    prop.to_file(r"D:\Rob\fire\property_" + str.lower(i) + "_output_GDA94.shp")

In [ ]:
prop

In [ ]:
# create individual property shapefiles from a list
for i in pastoral_list:
    #To select rows whose column value equals a scalar, some_value, use ==:
    prop = cadastre[cadastre["PROP_NAME"]== i]
    prop['uid']= prop.index + 1

    prop

In [ ]:
prop

In [ ]:
for i in property_list:
    #To select rows whose column value equals a scalar, some_value, use ==:
    #prop = cadastre1[cadastre1["PROP_NAME"]== i]
    print (i)
    mask = prop[cadastre1.PROP_NAME== i]

In [ ]:
cadastre = gpd.read_file(r"D:\Rob\fire\three_properties.shp")
property_list = cadastre.PARCEL.unique()
print(property_list)

In [ ]:
for i in property_list:
    #To select rows whose column value equals a scalar, some_value, use ==:
    prop =cadastre[(cadastre["LOC_NAME"]== 'NT Portion') & (cadastre["PARCEL"] == i)]
    #print(prop)
    print("Prop crs: ", prop.crs)
    prop_ = prop.to_crs("EPSG:4283")

In [ ]:
def epsg(epsg_code):
    
    """
    function to convert the epsg code to proj4, the orginal example of the code used pycrs 
    to obtain this infromatin for the internet. This version relies on it being in this function. 
    I have covered all the codes relevent to me however it may fail if used elsewhere.
    
    """
    if epsg_code == 32752:
        epsg_code_proj4 = '+proj=utm +zone=52 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs'
    if epsg_code == 32753:
        epsg_code_proj4 = '+proj=utm +zone=53 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs'
        
    if epsg_code == 28352:
        epsg_code_proj4 = '+proj=utm +zone=52 +south +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs'   
    
    if epsg_code == 28353:
        epsg_code_proj4 = '+proj=utm +zone=53 +south +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs'        
    
    if epsg_code == 4283:
        epsg_code_proj4 = '+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs'     
        
    if epsg_code == 6644:
        epsg_code_proj4 = '+proj=aea +lat_1=-18 +lat_2=-36 +lat_0=0 +lon_0=134 +x_0=0 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs' 
    if epsg_code == 3577:
        epsg_code_proj4 = '+proj=aea +lat_1=-18 +lat_2=-36 +lat_0=0 +lon_0=132 +x_0=0 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs'
    
    return epsg_code_proj4

In [ ]:
prop =cadastre[(cadastre["LOC_NAME"]== propName) & (cadastre["PARCEL"] == propNum)]
print("Prop crs: ", prop.crs)

## Project Tif

In [ ]:
import gdal

In [ ]:
ds = gdal.Open(r"Z:\Scratch\Zonal_Stats_Pipeline\Firescars\no_spatial\FS2006_MTH.tif")

In [ ]:
from osgeo import ogr, osr
ds.GetProjection()

In [ ]:
roads = gdal.Open(r"Z:\Scratch\Zonal_Stats_Pipeline\Firescars\no_spatial\FS2000_MTH.tif", gdal.GA_Update)